body {
              background-color: rgb(123, 48, 167);
}

h1 {
              color: white;
              text-align: center;
              font-size: 50px;

}

p{
              font-family: verdana;
              font-size: 20px;

}